<div id="registration" class="container">
    <h1>Register User</h1>
    <form action='/user/add' method='post'>
        <div class="form-group">
            <label>Nome</label><input class="form-control" type='text' name='name' placeholder="Daniel Donato">
        </div>
        <div class="form-group">
            <label>E-mail</label><input class="form-control" type='email' name='email' placeholder="joao@blabla.com">
        </div>
        <div class="form-group">
            <label>Password</label><input class="form-control" type='password' name='password' placeholder="Password">
        </div>
        <div class="form-group">
            <label>Confirm your password</label><input class="form-control" type='password' name='checkPassword'
                placeholder="Confirm your password">
        </div>
        <div class="form-group">
            <label>Select the user profile <select name="role" class="form-control" >
                    <option value='BOSS'>Boss</option>
                    <option value='DEVELOPER'>Dev</option>
                    <option value='STUDENT'>Student</option>
                    <option value='TA'>TA</option>
                </select></label>
        </div>
        <div class="form-group">
            <input type='submit' value='Register' class="btn btn-primary btn-block">
        </div>
    </form>
</div>