<div id="registration">
    <form action='/user/add' method='post'>
        <label>E-mail</label><input type='email' name='email' placeholder="joao@blabla.com">
        <label>Password</label><input type='password' name='password' placeholder="Password">
        <label>Confirm your password</label><input type='password' name='checkPassword' placeholder="Confirm your password">
        <label>Select the user profile <select name="role">
                <option value='BOSS'>Boss</option>
                <option value='DEVELOPER'>Dev</option>
                <option value='STUDENT'>Student</option>
                <option value='TA'>TA</option>
            </select></label>
        <input type='submit' value='Register'>
    </form>
</div>