<div class="box">
    <div class="container" >

        <h1>Empire</h1>
        <hr />
        <p><i>Welcome , Your future start here!</i></p>
        <div  class='alert alert-primary'>
        <ul>
            <li><a href="/users"><i class="fas fa-user"></i> Find Students</a></li>
            <li><a href="/courses"><i class="fas fa-book"></i> See our Courses Catalogue</a></li>
        </ul>
        <ul>    
            <li><a href="/user/add"><i class="fas fa-cogs"></i> Add a new user</a></li>
            <li><a href="/course/add"><i class="fas fa-cogs"></i>  Add a new course</a></li>
        </ul>
        </div>
        <hr />
        <h3>Courses I'm enrolled</h3>
    </div>
</div>        