<div class="box">
    <div class="container">

        <h1>Users</h1>
        <hr />
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <th scope="row">{{name}}</th>
                        <td>{{role}}</td>
                        <td>
                            <a class="btn btn-info" href="/user/edit" role="button">Edit</a>
                            <a class="btn btn-danger" href="/user/delete" role="button">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="box">
            <a class="btn btn-success" href="/user/add" role="button">Add</a>
        </div>
    </div>
</div>