<div class="box">
    <div class="container">

        <h1>Students</h1>
        <hr />
        <div class="box">
            <a  id="addUser" class="btn btn-success" href="/user/add" role="button">Add</a>
        </div>
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <th scope="row">{{name}}</th>
                        <td>{{role}}</td>
                        <td>
                            <form id="form-user" action="/user/delete?user_id={{_id}}" method='post'>
                            <a class="btn btn-info" href="/user/edit?user_id={{_id}}" role="button">Edit</a>
                            <button id="deleteUser" class="btn btn-danger" >Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        
    </div>
</div>