.box{
    margin:10px;
}
.course-structure{
    box-shadow: 1px 1px 1px 1px #ccc;
    display: grid;
    grid-template-columns: 1fr;
}

.adm{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.course-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.course-structure img{
    padding: 20px;
}
.description{
    padding:20px;
}


.adm i{
    float:right
}

.description a{
    text-decoration: none;
}

.description p{
    text-align: center;
}

.container ul li{
    list-style-type: none;
}


